<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styleCadastroFuncionario.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap">


</head>

<body>
    <div class="gradient-background">
        <div class="container">
            <header>
                
              
                <nav>
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="Login.html">Sair</a></li>
                    </ul>
                </nav>
            </header>

            <div class="card">
                <h1 class="text-center mb-4">Cadastro de Funcionário</h1>
                <form id="form">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite o nome
                        completo"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input type="password" class="form-control" name = "senha" id="senha"
                               placeholder="Digite a senha"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="dataNascimento">Data de Nascimento:</label>
                        <input type="text" class="form-control" name = "dt_nasc" id="dataNascimento" required>
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF:</label>
                        <input type="text" class="form-control" name="cpf" id="cpf" placeholder="Digite o CPF" required>
                    </div>
                    <div class="form-group">
                        <label for="endereco">Endereço:</label>
                        <input type="text" class="form-control" name="endereco" id="endereco" placeholder="Digite o
                        endereço"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="telefone">Telefone:</label>
                        <input type="tel" class="form-control" name="telefone" id="telefone" placeholder="Digite o
                        telefone"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="horario">Horário:</label>
                        <input type="string" class="form-control" name="horario" id="horario" placeholder="Digite o
                        horario"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="funcao">Selecione a função:</label>
                        <select class="form-control" id="funcao" name="funcao" required>
                            <option value="0">ADMIN</option>
                            <option value="1">GERENTE</option>
                            <option value="2">VENDEDOR</option>
                            <option value="3">MECÂNICO</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/imask"></script>
    <script src="../static/js/scriptsCadastroFuncionario.js"></script>






</body>

</html>