<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home - Você Aluga</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap">
  <link rel="stylesheet" href="../static/css/styleHome.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>

<body>

  <div class="gradient-background">
    <div class="container">
      <header>
        <h1>Você Aluga System</h1>
        <br>
        <nav>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="login.html">Sair</a></li>
          </ul>
        </nav>
      </header>

      <div class="container mt-5">
        <div class="icon-container">
          <!-- Sua seção de divs de cards aqui -->
          <div class="card">
            <a href="locacao.html" class="icon-link">
              <img src="../static/img/ZiconeCarro.png" class="card-img-top" alt="Realizar Locação">
              <div class="card-body">
                <h5 class="card-title">Realizar Locação</h5>
              </div>
            </a>
          </div>

          <div class="card">
            <a href="manutencao.html" class="icon-link">
              <img src="../static/img/ZiconeManutencao.png" class="card-img-top" alt="Manutenção">
              <div class="card-body">
                <h5 class="card-title">Agendar Manutenção</h5>
              </div>
            </a>
          </div>

          <div class="card">
            <a href="cadastrarCarro.html" class="icon-link">
              <img src="../static/img/carrinho.png" class="card-img-top" alt="Cadastrar Carro">
              <div class="card-body">
                <h5 class="card-title">Cadastrar Carro</h5>
              </div>
            </a>
          </div>

          <div class="card">
            <a href="cadastrarCliente.html" class="icon-link">
              <img src="../static/img/Ziconecliente.png" class="card-img-top" alt="Cadastrar Cliente">
              <div class="card-body">
                <h5 class="card-title">Cadastrar Cliente</h5>
              </div>
            </a>
          </div>

          <div class="card">
            <a href="cadastrarFuncionario.html" class="icon-link">
              <img src="../static/img/ZiconeFuncionario.png" class="card-img-top" alt="Cadastrar Funcionario">
              <div class="card-body">
                <h5 class="card-title">Cadastrar Funcionário</h5>
              </div>
            </a>
          </div>
        </div>

        <!-- Seção de busca -->
        <div class="row">
          <div class="col-md-12">
            <h2>Seção de Busca</h2>
            <h6>Selecione o botão desejado e realize a busca de acordo com a seleção</h6>
            <div class="search-section">
              <div class="btn-group" role="group" aria-label="Opções de busca">
                <button type="button" class="btn btn-primary category-btn" data-category="clientes">Clientes</button>
                <button type="button" class="btn btn-primary category-btn"
                  data-category="funcionarios">Funcionários</button>
                <button type="button" class="btn btn-primary category-btn" data-category="filiais">Filiais</button>
              </div>
              <div class="input-group mt-3">
                <input type="text" class="form-control" id="searchInput" placeholder="Digite sua busca aqui">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="searchBtn">Buscar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>

</html>