<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Você Aluga</title>
    <link rel="stylesheet" href="../static/css/styleLogin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Você Aluga System</h1>
    </header>

    <div class="login-container">
        <form class="login-form" method="post">
            <h2>Login</h2>
            <div class="input-group">
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            </div>
            <a href="home.html" class="custom-button">Entrar</a>
        </form>
    </div>

    <footer>
        <p>&copy; 2023 Você Aluga System. Todos os direitos reservados.</p>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/scriptsLogin.js"></script>
</body>
</html>