<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleManutencao.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap">
    <title>Manutenção</title>
</head>
<body>

    <header>
        <h1>Você Aluga System</h1>
        <br>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="login.html">Sair</a></li>
            </ul>
        </nav>
    </header>
    

    <div class="card">
        <h1 class="text-center mb-4">Veículos disponíveis para manutenção:</h1>
        <form id="meuFormulario">
            <div class="form-group">
                <label for="veiculos">Veículos disponíveis para manutenção:</label>
                <select class="form-control" id="veiculos" name="veiculos">
                </select>
            </div>
            </div>
        </form>
    </div>
    


</body>
</html>